<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="wordmark" aria-label="{{ site.name }}">
      <img src="/assets/img/logo.svg" width="20" height="20" alt="" aria-hidden="true" class="logo-mark" />
      {{ site.name }}
    </a>
  </div>
</header>
